.container{
    @media (min-width: 1600px){
        max-width: 1580px;
    }
    @media (min-width: 1400px){
        max-width: 1380px;
    }
    @media (min-width: 1300px){
        max-width: 1180px;
    }
    @media (min-width: 1900px){
        max-width: 1800px;
    }
}
body{
    background-color: #F8F8F8;
}
.wave-flow{
    width: 100%;
    position: absolute;
    z-index: 9;
    top: 100%;
}
.btn-transparent{
    border: 1px solid #3c0073;
    color: #3c0073;
    padding: 8px 15px;
    border-radius: 25px;
    margin: auto;
    display: block;
}
.rating {
  .fa {
    color: #ffa41c;
  }
}

